/* geral */
@font-face {
  font-family: Roboto;
  src: url(../public/font/Roboto-Regular.woff2);
}
:root {
  --corPrincipal: #f0f9ff;
  --corSecundaria: #38bdf8;
}
* {
  font-family: Roboto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

li {
  display: flex;
  align-items: center;
  margin: 3px 0 3px 0;
}

/* geral end */

/* nav(sidebar) */
nav div {
  margin: 10px 0 10px 0;
}
nav {
  background-color: var(--corPrincipal);
  padding-left: 10px;
  height: 100vh;
}
.active,
.project,
.selected,
.task input {
  cursor: pointer;
}
.active:hover,
.project:hover,
.selected:hover,
.task input:hover {
  background-color: var(--corSecundaria);
  color: white;
  border-radius: 5px;
}
li.active {
  margin: 20px 0 20px 0;
}

.selected {
  background-color: var(--corSecundaria);
  color: white;
}

#project-list li {
  margin: 3px 0 10px 20px;
  padding: 10px;
}

/*  nav(sidebar) end*/

/* task form */
#container-task-form,
#container-project-form {
  float: right;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  width: 250px;
  height: fit-content;
  border-radius: 5px;
}
#container-task-form input,
#container-project-form input {
  border: 0px;
  height: 30px;
  border-radius: 5px;
}

input:focus {
  outline: none;
}

#task-form,
#project-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

#task-form:first-child div {
  grid-column-start: 1;
  grid-column-end: -1;
}
#task-form div:last-child {
  display: flex;
  justify-content: end;
  align-items: end;
}

/* task form end */

/* container */

#container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 10px;
  padding: 10px;
}

.task {
  border: 1px solid rgb(26, 24, 39);
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
  gap: 10px;
}
.task * {
  word-wrap: break-word;
}
.task input {
  border: 0px;
  height: 30px;
  border-radius: 5px;
  background-color: var(--corPrincipal);
}
.incourse,
.finished {
  text-align: center;
  border-radius: 5px;
  height: 6px;
}
.finished {
  background-color: rgb(128, 255, 0);
}
.incourse {
  background-color: rgb(253, 177, 149);
}
/* container end */
